header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(18, 228, 123);
}

header a {
    background: #6699ff;
    font-size: 30px;
    font-style: oblique;
    text-align: justify;
    margin: 20px;
    line-height: 15px;
}

body section {
    background: rgb(9, 120, 139);
}

body section h2 {
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body aside {
    background: rgb(139, 126, 216);
    font-size: 25px;
}

footer {
    background: black;
    color: white;
}