header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(18, 228, 123);
}

header a {
    background: #6699ff;
    font-size: 30px;
    font-style: oblique;
    text-align: justify;
    margin: 20px;
    line-height: 15px;
}

section {
    background: aquamarine;
}

section h2 {
    font-family: fantasy;
}

section address {
    background: rgb(140, 235, 96);
}

aside {
    background: rgb(140, 235, 96);
}

footer {
    background: black;
    color: white;
}