header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(18, 228, 123);
}

header a {
    background: #ddc01b;
    font-size: 30px;
    font-style: oblique;
    text-align: justify;
    margin: 20px;
    line-height: 15px;
}

address {
    margin: 20px;
    font-size: 22px;
}

body ul a {
    background: #6699ff;
}

body section {
    background: rgb(238, 161, 47);
}

footer {
    background: black;
    color: white;
}